@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.ant-menu {
  border: none !important;
}

.ant-menu-item {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: auto !important;
  margin-bottom: 10px !important;
}

.ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.06) !important;
  color: black !important;
}

.wallet-selector-text {
  font-size: 14px;
}

.wallet-connect-button-text {
  color: white;
}

.wallet-menu-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.wallet-name-wrapper {
  display: flex;
  align-items: center;
}

.wallet-connect-button {
  align-self: center;
  background-color: #3f67ff;
  height: auto;
}

.wallet-connect-install {
  align-self: center;
  color: #3f67ff;
  padding-right: 15px;
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.wallet-button {
  padding: 10px 20px;
  height: auto;
  font-size: 16px;
  background-color: #3f67ff;
  color: white;
}

.wallet-modal-title {
  text-align: center;
  font-size: 2rem;
}